

.jumbotron {
  padding-top: 2rem;
  background-image: url("./img/projects/utamaa.png");
  background-attachment: fixed;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about {
  background-color: #000;
}

#projects {
  background-color: #fff;
}

section{
  padding-top: 6rem;
}